gulp.task('coffee', function() {
  return gulp.src('src/coffee/**/*.coffee')
  .pipe($.plumber())
  .pipe($.coffee({bare: true})).on('error', function (error) { console.log(error.message); this.emit('end');} )
  .pipe(gulp.dest('src/scripts/'));
});

